@import "tailwindcss";

/* index.css */
.apexcharts-menu {
    background: #1f2937 !important;
    border: 1px solid #374151 !important;
  }
  
  .apexcharts-menu-item {
    color: #d1d5db !important;
  }
  
  .apexcharts-menu-item:hover {
    background: #374151 !important;
  }
  